#loading-bar-spinner.spinner {
  left: 50%;
  margin-top: 20px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 750ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border:  solid 4px transparent;
  border-top-color:  #000000 !important;
  border-left-color: #000000 !important;
  border-radius: 50%;
}
.bg-button{
  background-color: #43a4ff;
  font-weight: 700;
  font-size: 14px;
}
.bg-button:hover{
  background-color: #2f90ff;
}

@keyframes loading-bar-spinner {
0%   { transform: rotate(0deg);   transform: rotate(0deg); }
100% { transform: rotate(360deg); transform: rotate(360deg); }
}
